html,
body {
  height: 100%;
  font-family: "Genos", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #d1d1d1;
  color: #043059;
}

nav a {
  color: #043059;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

#welcome {
  height: 50%;
}

#welcome h1 {
  color: #eecccc;
  font-size: 5rem;
  text-shadow: 2px 2px 2px #00000034;
}

#welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-block {
  color: #10487d;
  margin-top: 30px;
  font-size: 2rem;
  border-radius: 22px;
  padding: 12px 36px;
  font-weight: 500;
  border: 2px solid #fff;
  box-shadow: 5px 5px 10px rgb(11 11 11 / 32%);
}

.btn-block:hover {
  color: #fff;
  background-color: #10487d;
  transition: all 0.2s ease-in-out;
}

#home-content {
  background-color: #9bcd95;
  color: #1750ca;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
  color: #eecccc;
}

#badges {
  background-color: #9bcd95;
  color: #648de5;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #10487d;
  border-radius: 50%;
  padding-top: 10px;
  margin: 10px;
  color: #eecccc;
}

.badges img {
  width: 10rem;
  height: 10rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1 0 auto;
  background-color: #10487d;
}

/* Quiz Styling */

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #10487d;
  color: #eecccc;
  font-size: 1.5rem;
  padding-top: 15px;
}

a.buttonCategory {
  background-color: #9bcd95;
  margin-top: 15px;
  font-weight: 600;
  color: #072c7c;
}

a.buttonCategory:hover {
  font-size: 1.1rem;
}
#quiz-wrapper {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quiz-title {
  color: #eecccc;
  font-size: 2rem;
}

#counter {
  display: flex;
  justify-content: space-evenly;
  color: #eecccc;
  font-size: 1.5rem;
}

#question {
  display: flex;
  font-size: 2rem;
  color: #eecccc;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#tip {
  color: #eecccc;
  font-size: 2rem;
  margin-top: 20px;
}

.answer {
  display: flex;
  font-size: 2rem;
}

.answer:hover {
  cursor: pointer;
  font-size: 2.1rem;
}

.letter {
  color: #043059;
  padding: 10px 30px;
}

.letterA {
  background-color: #9bcd95;
  border-radius: 50%;
  margin-right: 10px;
}
.letterB {
  background-color: #648de5;
  border-radius: 50%;
  margin-right: 10px;
}
.letterC {
  background-color: #eecccc;
  border-radius: 50%;
  margin-right: 10px;
}
.letterD {
  background-color: #6ad5cb;
  border-radius: 50%;
  margin-right: 10px;
}

.option-text {
  color: #043059;
  background-color: rgb(226, 226, 226);
  padding: 15px;
  width: 100%;
}

.option-text:hover {
  cursor: pointer;
}

footer {
  flex-shrink: 0;
  background-color: #d1d1d1;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

#error {
  font-size: 2rem;
  color: #ddf840;
}

.error-message {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#home-button {
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 2rem;
  background-color: #9bcd95;
  color: #072c7c;
}

/* Revision Styling */

.header-revision {
  color: #eecccc;
  background-color: #10487d;
  padding: 2rem;
}

.revision-content {
  background-color: #9bcd95;
  color: #072c7c;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.revisionList {
  list-style: none;
  width: 75%;
  margin: 0 auto;
}

.li-revision {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  font-size: 1.2rem;
}

.revision-title {
  padding: 1.5rem;
  margin-left: 10%;
}
